:root {
  --primary-color: #1abc9c;
  --secondary-color: #3498db;
  --tertiary-color: #9b59b6;
}

.background {
  background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  animation: change-gradient 10s ease-in-out infinite;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes change-gradient {
  0% {
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color), var(--tertiary-color));
  }
  50% {
    background: linear-gradient(to right, var(--secondary-color), var(--tertiary-color), var(--primary-color));
  }
  100% {
    background: linear-gradient(to right, var(--tertiary-color), var(--primary-color), var(--secondary-color));
  }
}

header {
  margin-bottom: 4rem;
}

main {
  text-align: center;
}

button {
  font-size: 2rem;
  padding: 1.5rem 4rem;
  border-radius: 3rem;
  border: none;
  color: white;
  background-color: var(--primary-color);
  transition: background-color 0.2s ease-in-out;
  margin: 1.5rem;
}

button:hover {
  background-color: var(--secondary-color);
  cursor: pointer;
}

.footer {
  background-color: white;
  padding: 2rem;
  text-align: center;
  box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
}
