html {
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

@font-face {
    font-family: 'Vazir Matn';
    src: url('Vazirmatn-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Overpass', sans-serif;
    background-image: url("dvd.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    color: #fff;
}

.container {
    font-family: 'Vazir Matn', 'Overpass', sans-serif;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.button {
    font-size: 1.2rem;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    color: #fff;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-family: 'Vazir Matn', 'Overpass', sans-serif;
}

.button:hover {
    background-color: #005bd1;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.result {
    font-size: 1.2rem;
    margin-top: 10px;
    text-align: center;
    transition: 0.3s;
}

.result.win {
    color: #4caf50;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }
    .button {
        font-size: 0.8rem;
        padding: 8px 16px;
    }
    .result {
        font-size: 1rem;
    }
}

@media (max-width: 480px) {
    .container {
        padding: 20px;
    }
}
